@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


:root {
  --primary-color-dark: #31333b;
  --primary-color-light: white;
  --primary-accent-color: #ffc86a;
  --secondary-light: #3d3e42;

  --border-radius-sm: 0.5rem;
  --border-radius-lg: 1rem;
  --transition-base: all 0.3s ease;
  --max-width-container: 1400px;
  --spacing-base: 1rem;
  --spacing-lg: 2rem;
  --card-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
  --blur-effect: blur(8px);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  font-family: "Playfair Display", sans-serif;
  scroll-behavior: smooth;
}


@media (max-width: 768px) {
  :root {
    --spacing-lg: 1.5rem;
    --header-height: var(--header-height-tablet);
  }
}

@media (max-width: 480px) {
  :root {
    --spacing-base: 0.8rem;
    --spacing-lg: 1.2rem;
    --header-height: var(--header-height-mobile);
  }
}